@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header_wrapper {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 2%;
    height: 10vh;
    align-items: center;
}

.nav_list {
    display: inline-block;
    align-self: center;
}
.nav_list > li {
    display: inline-block;
    margin-right: 20px;
}

.logo {
    display: inline-block;
    margin: 0 380px 0 100px;
}

.links {
    display: inline-block;
}

.links img{
    margin-right: 20px;
}

.main-page {
    height: 90vh;
    background-color: #f0efeb;
}

.guides {
    height: 100vh;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 2%;
}

.button {
    background: #000;
    border-radius: 100px;
    height: 36px;
    width: 130px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    border: none;
    margin-top: 2%;
}

.main-content-wrapper {
    display: inline-block;
    margin-left: 2%;
}